.hero-video {
    position: absolute;
    top: 0;
    z-index: -2;
    object-fit: contain;
    display: none;
}

.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    filter: grayscale(100%);
    z-index: -2;
}

@media only screen and (min-width: 768px) {

    .hero-image {
        display: none;
    }

    .hero-video {
        display: inline-block;
        /* width: 100vw; */
        object-fit: contain;
        object-position: 0px -500px;
    }
}

@media only screen and (min-width: 1024px) {
    .hero-image {
        display: none;
    }

    .hero-video {
        object-position: 0px -500px;
    }
}


@media only screen and (min-width: 1440px) {
    .hero-image {
        display: none;
        object-position: center;
    }

    .hero-video {
        display: inline-block;
    }
}